body{
    font-family:sans-serif;
    padding: 0;
    background-color: #5B6CA1;
}
p,a{
    font-family:'Montserrat',sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}
h1{
    font-family:'Montserrat',sans-serif;
    font-weight:800;
    color:#5B6CA1;
}
h2{
    font-family:'Montserrat',sans-serif;
    font-weight:500;
    color:#5B6CA1;
    font-size:1.5rem;
}
.container{ /*EDIT THIS,, ITS RUINING MY FOOTER*/
    /*background-color: #EEE9CA;*/
    display: flex;
    justify-content: center;
}
.yellowTextBox{
    background-color: #EEE9CA;
    
}
.projectList{
    margin:1rem;
    padding:1rem;
    line-height: 1.5;
    font-weight: 190;
}
.projectList p{
    font-weight:300;
    font-size: 1.2rem;
}

.headshot{
    width:20rem;
}
.smallText{
    font-family:'Montserrat',sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

.contactForm button{
    background: linear-gradient(270deg, #5B6CA1, #EEE9CA);
}
.centerForm{
    text-align: center;
}
